name: Build release

on:
  push:
    tags:
      - 'rc-0.0.*'

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js 16.16.0
        uses: actions/setup-node@v1
        with:
          node-version: 16.16.0

      - name: Install dependencies
        run: npm install

      - name: Compile with TypeScript
        run: npm run ts

      - name: Call LINT
        run: npm run lint

      - name: Test GIT command
        run: git log HEAD^...HEAD

      - name: Build release ticket
        env:
          ORG_ID: ${{ secrets.ORG_ID }}
          TOKEN: ${{ secrets.TOKEN }}
        run: npm run ticket
